*, html, body {
  font-family: 'Poppins', sans-serif !important;
}

.white-space-wrap {
  white-space: break-spaces !important;
}

.v-expansion-panel-title__overlay {
  background-color: #ffffff !important;
}

.notyf__toast {
  border-radius: 7px !important;
  max-width: 500px !important;
}